.product-container {
    width: 100%;
    margin: auto;
  }
  
  table {
    width: 100%;
  }
  
  mat-icon {
    cursor: pointer;
  }
  
  .docs-example-viewer-wrapper {
    border-radius: 12px;
    border: 1px solid var(--mat-sys-outline-variant);
    padding: 10px;
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  